mule/soa.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e29f4154-6759-4a7c-94b4-20718a4a1b1a" >
		<http:listener-connection host="0.0.0.0" port="18080" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="15b0b243-1b1a-4083-95b5-c77e90730fe9" >
		<wsc:connection wsdlLocation="http://localhost:8080/ws/schema.wsdl" service="SchemaPortService" port="SchemaPortSoap11" address="http://localhost:8080/ws">
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next"/>
		</wsc:connection>
	</wsc:config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="d8da22d2-22e7-474d-8628-76f925f38f2f" >
		<http:listener-connection protocol="HTTPS" host="0.0.0.0" port="18081" >
			<tls:context >
				<tls:key-store type="pkcs12" path="/home/neevin/uni/soa/back/first-service-soap/src/main/resources/keystore/baeldung.p12" alias="baeldung" keyPassword="password" password="password" />
			</tls:context>
		</http:listener-connection>
	</http:listener-config>
	<flow name="getEventByIdFlow" doc:id="3b23226f-948c-44cf-b12e-46c7f741400c" >
		<http:listener doc:name="Listener" doc:id="1baef6e0-8cfc-43cb-aa74-e17f7b14b45b" config-ref="HTTP_Listener_config1" path="/events/{id}" allowedMethods="GET">
			<http:error-response >
				<http:body ><![CDATA[#[output application/json
---
{
  "errors": [
    error.description as String
  ]
}]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="386b9c37-eeb3-4aae-8374-13d000296202" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://org/example/catalog
---
{
	ns0#getEventRequest: {
		ns0#id: attributes.uriParams.'id'
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="bc1ddfb9-9caa-4935-8370-a055c3cbae9e" config-ref="Web_Service_Consumer_Config" operation="getEvent"/>
		<ee:transform doc:name="Transform Message" doc:id="30e11c32-f828-4d28-b42b-a6c7c6d3a9ea" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://org/example/catalog
---
{
	id: payload.body.ns0#getEventResponse.ns0#event.ns0#id as String default "",
	name: payload.body.ns0#getEventResponse.ns0#event.ns0#name default "",
	date: payload.body.ns0#getEventResponse.ns0#event.ns0#date as String default "",
	minAge: payload.body.ns0#getEventResponse.ns0#event.ns0#minAge as String default "",
	eventType: payload.body.ns0#getEventResponse.ns0#event.ns0#eventType default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getAllEventsFlow" doc:id="cff8ffca-6415-42d6-9d0b-60eb153554a3" >
		<http:listener doc:name="Listener" doc:id="d0dca984-2b85-4b9d-b2dd-fd2af4e17844" config-ref="HTTP_Listener_config1" path="/events" allowedMethods="GET" >
			<http:error-response >
				<http:body ><![CDATA[#[output application/json
---
{
  "errors": [
    error.description as String
  ]
}]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="f3efb25c-5731-4e82-a259-c93edfc22985" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://org/example/catalog
---
{
	ns0#getAllEventsRequest: {
		ns0#sort: attributes.queryParams.'sort' default "id",
		ns0#filter: attributes.queryParams.'filter' default "",
		ns0#limit: attributes.queryParams.'limit' default 10,
		ns0#offset: attributes.queryParams.'offset' default 0
		
	}
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="getAllEvents" doc:name="Consume" doc:id="a9259f68-55cf-42e4-bfd8-b23e40375ee5" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Transform Message1" doc:id="24946a1f-cbf7-4a7a-a7a5-51686da904d6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://org/example/catalog
---
payload.body.ns0#getAllEventsResponse.*ns0#events map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.id default 0,
	name: payload01.name default "",
	date: payload01.date default "",
	minAge: payload01.minAge default 0,
	eventType: payload01.eventType default "CONCERT"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="updateEventFlow" doc:id="3326572a-ab1d-48bb-b1d8-4e05a1404953" >
		<http:listener doc:name="Listener" doc:id="9e8cc07e-cf7d-4b22-8b27-0075efc061a8" config-ref="HTTP_Listener_config1" path="/events/{id}" allowedMethods="PUT" >
			<http:error-response >
				<http:body ><![CDATA[#[output application/json
---
{
  "errors": [
    error.description as String
  ]
}]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="d1fb3e54-9cd6-4a71-b089-c4820f8ab2c3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://org/example/catalog
---
{
	ns0#updateEventRequest: {
		ns0#eventId: attributes.uriParams.'id' as Number,
		ns0#event: {
			ns0#name: payload.name,
			ns0#date: payload.date as Date,
			ns0#minAge: payload.minAge as Number,
			ns0#eventType: payload.eventType
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="updateEvent" doc:name="Consume" doc:id="95e19054-bf29-4ffd-a0a8-c3db50cf4fd9" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="1eddb202-9ddb-4ac3-9146-3f4095384439" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://org/example/catalog
---
{
	id: payload.body.ns0#updateEventResponse.ns0#event.ns0#id as String default "",
	name: payload.body.ns0#updateEventResponse.ns0#event.ns0#name default "",
	date: payload.body.ns0#updateEventResponse.ns0#event.ns0#date as String default "",
	minAge: payload.body.ns0#updateEventResponse.ns0#event.ns0#minAge as String default "",
	eventType: payload.body.ns0#updateEventResponse.ns0#event.ns0#eventType default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="createEventFlow" doc:id="f4da775a-a0a6-4d37-8f6e-3634584d704d" >
		<http:listener doc:name="Listener" doc:id="58ae1a2a-7514-4dcc-a125-4ca95112dc03" config-ref="HTTP_Listener_config1" path="/events" allowedMethods="POST" >
			<http:error-response >
				<http:body ><![CDATA[#[output application/json
---
{
  "errors": [
    error.description as String
  ]
}]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="93fefbd2-a7ca-463a-b75c-5dd0eba7ce90" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="345b27ff-9a2f-4689-ac3f-a3baadbb03dd" config-ref="Web_Service_Consumer_Config" operation="createEvent"/>
		<ee:transform doc:name="Transform Message" doc:id="c22b36ea-c8f7-4252-82c1-6d8f9ee2a5af" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="deleteByIdFlow" doc:id="6a03b9de-7b5e-48f9-86f9-efc4d12f3952" >
		<http:listener doc:name="Listener" doc:id="7265f3fd-1395-42b7-897f-9c9e6c511cc7" config-ref="HTTP_Listener_config1" path="/events/{id}" allowedMethods="DELETE" >
			<http:error-response >
				<http:body ><![CDATA[#[output application/json
---
{
  "errors": [
    error.description as String
  ]
}]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="92ae8ec6-623a-44c1-997c-cccb7ab80e79" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://org/example/catalog
---
{
	ns0#getEventRequest: {
		ns0#id: attributes.uriParams.'id'
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="getEvent" doc:name="Consume" doc:id="332aa729-fcc3-47ad-8059-ed440e3beee3" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Transform Message1" doc:id="09ce8ef8-7823-4859-a4ca-4815c81c8411" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://org/example/catalog
---
{
	"message": "Событие удалено"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getTicketByIdFlow" doc:id="24a8c9ff-b796-4249-b33c-12e4d9adc60e" >
		<http:listener doc:name="Listener" doc:id="a9167daa-03ba-478c-83a0-05df9b6dd0b4" config-ref="HTTP_Listener_config1" path="/tickets/{id}" allowedMethods="GET" >
			<http:error-response >
				<http:body ><![CDATA[#[output application/json
---
{
  "errors": [
    error.description as String
  ]
}]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="5db69a62-700d-4cdb-96df-c447c87c291b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://org/example/catalog
---
{
	ns0#getTicketRequest: {
		ns0#id: attributes.uriParams.'id'
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="getTicket" doc:name="Consume" doc:id="75346cb9-1b9e-4280-b923-6c58afd5045e" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Transform Message1" doc:id="79328815-eb5f-40c3-8924-eb6b26632963" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://org/example/catalog
---
{
	id: payload.body.ns0#getTicketResponse.ns0#ticket.ns0#id default 0,
	name: payload.body.ns0#getTicketResponse.ns0#ticket.ns0#name default "",
	coordinates: {
		x: payload.body.ns0#getTicketResponse.ns0#ticket.ns0#coordinates.ns0#x default 0,
		y: payload.body.ns0#getTicketResponse.ns0#ticket.ns0#coordinates.ns0#y default 0
	},
	creationDate: payload.body.ns0#getTicketResponse.ns0#ticket.ns0#creationDate as String default "",
	price: payload.body.ns0#getTicketResponse.ns0#ticket.ns0#price default 0,
	discount: payload.body.ns0#getTicketResponse.ns0#ticket.ns0#discount default 0,
	refundable: payload.body.ns0#getTicketResponse.ns0#ticket.ns0#refundable default true,
	"type": payload.body.ns0#getTicketResponse.ns0#ticket.ns0#"type" default "",
	event: {
		id: payload.body.ns0#getTicketResponse.ns0#ticket.ns0#event.ns0#id default 0,
		name: payload.body.ns0#getTicketResponse.ns0#ticket.ns0#event.ns0#name default "",
		date: payload.body.ns0#getTicketResponse.ns0#ticket.ns0#event.ns0#date as String default "",
		minAge: payload.body.ns0#getTicketResponse.ns0#ticket.ns0#event.ns0#minAge default 0,
		eventType: payload.body.ns0#getTicketResponse.ns0#ticket.ns0#event.ns0#eventType default ""
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getAllTicketsFlow" doc:id="76d37008-7e97-48d4-840c-fff28866f1bc" >
		<http:listener doc:name="Listener" doc:id="d0750f7b-0b42-4f0a-babb-2d7245631aaf" config-ref="HTTP_Listener_config1" path="/tickets" allowedMethods="GET" >
			<http:error-response >
				<http:body ><![CDATA[#[output application/json
---
{
  "errors": [
    error.description as String
  ]
}]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="050a2e90-497c-41b8-b5e6-5392c5c87a75" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://org/example/catalog
---
{
	ns0#getAllTicketsRequest: {
		ns0#sort: attributes.queryParams.'sort' default "id",
		ns0#filter: attributes.queryParams.'filter' default "",
		ns0#limit: attributes.queryParams.'limit' default 10,
		ns0#offset: attributes.queryParams.'offset' default 0
		
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="getAllTickets" doc:name="Consume" doc:id="1552935d-cc48-4b57-bc20-d712f6ecc83e" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Transform Message1" doc:id="3eb45576-f966-4517-a16a-c7f996278354" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://org/example/catalog
---
payload.body.ns0#getAllTicketsResponse.*ns0#tickets map ( ticket , indexOfTicket ) -> {
	id: ticket.ns0#id default 0,
	name: ticket.ns0#name default "",
	coordinates: {
		x: ticket.ns0#coordinates.ns0#x default 0,
		y: ticket.ns0#coordinates.ns0#y default 0
	},
	creationDate: ticket.ns0#creationDate as String default "",
	price: ticket.ns0#price default 0,
	discount: ticket.ns0#discount default 0,
	refundable: ticket.ns0#refundable default true,
	"type": ticket.ns0#"type" default "",
	event: {
		id: ticket.ns0#event.ns0#id default 0,
		name: ticket.ns0#event.ns0#name default "",
		date: ticket.ns0#event.ns0#date as String default "",
		minAge: ticket.ns0#event.ns0#minAge default 0,
		eventType: ticket.ns0#event.ns0#eventType default ""
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="updateTicketFlow" doc:id="b5ed427e-a4aa-4f2e-b462-735424c8afab" >
		<http:listener doc:name="Listener" doc:id="ff7ab099-0ec6-4d09-b950-c83919eb97b5" config-ref="HTTP_Listener_config1" path="/tickets/{id}" allowedMethods="PUT" >
			<http:error-response >
				<http:body ><![CDATA[#[output application/json
---
{
  "errors": [
    error.description as String
  ]
}]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="516a8b1b-c86d-444f-91e8-d04157fc1ddb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://org/example/catalog
---
{
	ns0#updateTicketRequest: {
		ns0#ticketId: attributes.uriParams.'id',
		ns0#ticket: {
			ns0#id: payload.id,
			ns0#name: payload.name,
			ns0#coordinates: {
				ns0#x: payload.coordinates.x,
				ns0#y: payload.coordinates.y
			},
			ns0#price: payload.price,
			ns0#discount: payload.discount,
			ns0#refundable: payload.refundable,
			ns0#"type": payload."type",
			ns0#event: {
				ns0#id: payload.event.id,
				ns0#name: payload.event.name,
				ns0#date: payload.event.date as String,
				ns0#minAge: payload.event.minAge,
				ns0#eventType: payload.event.eventType
			}
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="updateTicket" doc:name="Consume" doc:id="575f1a9b-ff72-4003-adb1-80dddd1d2d47" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Transform Message1" doc:id="9ac2322e-3b93-4a51-a23e-e00df32152fb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://org/example/catalog
---
{
	id: payload.body.ns0#updateTicketResponse.ns0#ticket.ns0#id default 0,
	name: payload.body.ns0#updateTicketResponse.ns0#ticket.ns0#name default "",
	coordinates: {
		x: payload.body.ns0#updateTicketResponse.ns0#ticket.ns0#coordinates.ns0#x default 0,
		y: payload.body.ns0#updateTicketResponse.ns0#ticket.ns0#coordinates.ns0#y default 0
	},
	creationDate: payload.body.ns0#updateTicketResponse.ns0#ticket.ns0#creationDate as String default "",
	price: payload.body.ns0#updateTicketResponse.ns0#ticket.ns0#price default 0,
	discount: payload.body.ns0#updateTicketResponse.ns0#ticket.ns0#discount default 0,
	refundable: payload.body.ns0#updateTicketResponse.ns0#ticket.ns0#refundable default true,
	"type": payload.body.ns0#updateTicketResponse.ns0#ticket.ns0#"type" default "",
	event: {
		id: payload.body.ns0#updateTicketResponse.ns0#ticket.ns0#event.ns0#id default 0,
		name: payload.body.ns0#updateTicketResponse.ns0#ticket.ns0#event.ns0#name default "",
		date: payload.body.ns0#updateTicketResponse.ns0#ticket.ns0#event.ns0#date as String default "",
		minAge: payload.body.ns0#updateTicketResponse.ns0#ticket.ns0#event.ns0#minAge default 0,
		eventType: payload.body.ns0#updateTicketResponse.ns0#ticket.ns0#event.ns0#eventType default ""
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="deleteTicketByIdFlow" doc:id="0359e87f-1fad-4257-a881-f5da63f945bf" >
		<http:listener doc:name="Listener" doc:id="d0ead1b1-156e-43b0-8e49-86bfb3f6aed5" config-ref="HTTP_Listener_config1" path="/tickets/{id}" allowedMethods="DELETE" >
			<http:error-response >
				<http:body ><![CDATA[#[output application/json
---
{
  "errors": [
    error.description as String
  ]
}]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="f530a0bb-0e46-4bc4-9bfc-f9805f06d804" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://org/example/catalog
---
{
	ns0#deleteTicketRequest: {
		ns0#ticketId: attributes.uriParams.'id'
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="deleteTicket" doc:name="Consume" doc:id="6e3b467b-5d09-4e28-8bb0-f5c89f2a4fed" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Transform Message1" doc:id="2e538cd8-bf2a-4775-9bae-9234eeee3727" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://org/example/catalog
---
{
	"message": "Билет удалён"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	
</mule>
